@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: url("../pict/bg-body.jpg") no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box
}

.wrapper {
    max-width: 800px;
    margin: 40px auto;
}

header {
    background: url("../pict/bg-header.jpg") no-repeat;
    height: 360px;
    position: relative;
}

nav {
    background: rgba(190, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.8);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* csak a közvetlen leszármazottjaira vonatkozik */
nav>ul>li {
    float: left;
}


/* Minden has-submenu fölé megyek legyen látható az alatta lévő*/
nav .has-submenu:hover .submenu {
    display: block;
}

/* Minden has-submenu mellett legyen nyíl */
nav .has-submenu::after {
    content: "▾";
    color: white;
    position: absolute;
    right: 12px;
    top: 20px;
}

/* A nyílnak legyen több hely */
nav .has-submenu>a {
    padding-right: 35px;
}

nav .submenu a {
    background: rgba(190, 0, 0, 1);
    padding: 10px 20px;
}

/* hogy a submenu abszolut lehessen hozzá képest */
nav .has-submenu {
    position: relative;
}

/* almenu kerüljön a .has-submenu felirata alá  */
nav .submenu {
    position: absolute;
    width: 220px;
    display: none;
}

nav .submenu a:hover {
    background: black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
    background: white;
    padding: 40px;
}

main p {
    line-height: 1.5em;
}

main h1 {
    margin: 0;
}